<form [formGroup]="searchForm" (submit)="searchBooks()">
  <mat-form-field floatLabel="never">
    <input
      autoFocus
      matInput
      type="search"
      placeholder="Search for books to add to your reading list"
      formControlName="term"
    />
    <button mat-icon-button matSuffix aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>

<ng-container *ngIf="searchTerm; else empty">
  <div class="book-grid">
    <div class="book" data-testing="book-item" *ngFor="let b of books">
      <div class="book--title">
        <h1>{{ b.title }}</h1>
      </div>
      <div class="book--content">
        <div class="book--content--cover">
          <img alt="{{ b.title }}" src="{{ b.coverUrl }}" />
        </div>
        <div class="book--content--info">
          <div><strong>Author:</strong> {{ b.authors.join(',') }}</div>
          <div><strong>Publisher:</strong> {{ b.publisher }}</div>
          <div>
            <strong>Published:</strong> {{ formatDate(b.publishedDate) }}
          </div>
          <p [innerHTML]="b.description"></p>
          <div>
            <button
              mat-flat-button
              color="primary"
              class="add-remove-button"
              style="position: unset;"
              (click)="addBookToReadingList(b)"
              [disabled]="b.isAdded"
            >
              {{b.finished ?'Finished':'Want to Read'}}
            </button>
            <button
              mat-flat-button
              color="accent"
              class="add-remove-button"
              style="position: unset;"
              (click)="removeBookFromReadingList(b)"
              [disabled]="!b.isAdded"
              data-testing="undo-button-container"
            >
              Undo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #empty>
  <div class="empty">
    <p>
      Try searching for a topic, for example "<a (click)="searchExample()"
        >JavaScript</a
      >".
    </p>
  </div>
</ng-template>
