<ng-container *ngIf="(readingList$ | async).length > 0; else empty">
  <div class="reading-list-item" *ngFor="let b of readingList$ | async">
    <div>
      <img class="reading-list-item--cover" [src]="b.coverUrl" />
    </div>
    <div class="reading-list-item--details">
      <strong class="reading-list-item--details--title">{{ b.title }}</strong>
      <div class="reading-list-item--details--author">
        {{ b.authors.join(',') }}
      </div>
      <div>
        <button
          *ngIf="!b.finished"
          mat-button
          color="accent"
          [attr.aria-label]="'Mark as Finished'"
          (click)="markFinished(b)"
          style="font-size: 0.75rem"
        >
          Mark as Finished
        </button>
      </div>
      <button style="font-size: 0.75rem" *ngIf="b.finished" mat-button color="accent" disabled>
        Finished on {{ b.finishedDate | date:'longDate' }}
      </button>
    </div>
    <div>
      <button
        mat-icon-button
        color="warn"
        [attr.aria-label]="'Remove ' + b.title + ' from reading list'"
        (click)="removeFromReadingList(b)"
      >
        <mat-icon>remove_circle</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
<ng-template #empty>
  <p class="empty">You haven't added any books to your reading list yet.</p>
</ng-template>
